<div class="p-3 mb-2 bg-body text-dark">

<table class="table table-dark  ">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Numero Factura</th>
      <th scope="col">Dinero</th>
      <th scope="col">Fecha</th>
      <th scope="col">Iva Articulo</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>1</td>
      <td>100 €</td>
      <td>25/11/2051</td>
      <td>21%</td>
      <td><button class="btn btn-outline-warning"><i class="far fa-edit">Editar</i></button></td>
      <td><button class="btn btn-outline-danger"><i class="far fa-trash-alt">Elimnar</i></button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>2</td>
      <td>3512 €</td>
      <td>11/11/2011</td>
      <td>21%</td>
      <td><button class="btn btn-outline-warning"><i class="far fa-edit">Editar</i></button></td>
      <td><button class="btn btn-outline-danger"><i class="far fa-trash-alt">Elimnar</i></button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>3</td>
      <td>432 €</td>
      <td>12/12/2012</td>
      <td>21%</td>
      <td><button class="btn btn-outline-warning"><i class="far fa-edit">Editar</i></button></td>
      <td><button class="btn btn-outline-danger"><i class="far fa-trash-alt">Elimnar</i></button></td>
    </tr>


  </tbody>
</table>
</div>



