

<div class="container-fluid">
  <div class="row">
      <div class=" col-md-3 col-xl-2 px-sm-2 px-0 bg-dark" style="width: 300px;">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <ul class="nav nav-pills flex-column mb-sm-auto  align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="#" class="nav-link align-middle px-0">
                          <i class="font-weight-bold text-warning "></i> <span class="font-weight-bold text-warning"><h5>👉 Articulo</h5></span>
                      </a>

                  </li>
                  <li class="nav-item">
                    <a href="#" class="text-warning px-5 "> <span class="">✯ Crear Articulo</span>  </a>
                 </li>
                 <li class="nav-item">
                  <a href="#" class="text-warning px-5 "> <span class="">✐ Editar Articulo</span>  </a>
                  <li class="nav-item">
                    <a href="#" class="nav-link align-middle px-0">
                        <i class="font-weight-bold "></i> <span class="font-weight-bold text-warning"><h5>👉 Cuenta</h5></span>
                    </a>

                </li>

               <li class="nav-item">
                <a href="#" class="text-warning px-5 text-warning"> <span class="font-weight-ligh">✐ Editar Articulo</span>  </a>
                <li class="nav-item">
                  <a href="#" class="nav-link align-middle px-0">
                      <i class="font-weight-bold text-warning "></i> <span class="font-weight-bold text-warning"><h5>👉 Factura</h5></span>
                  </a>

              </li>
              <li class="nav-item">
                <a href="#" class="text-warning px-5 text-warning"> <span class="font-weight-ligh">✯ Crear Factura</span>  </a>
             </li>
             <li class="nav-item">
              <a href="#" class="text-warning px-5 text-warning"> <span class="font-weight-ligh">✐ Editar Factura</span>  </a>

              <li class="nav-item">
                <a href="#" class="nav-link align-middle px-0">
                    <i class="font-weight-bold text-warning "></i> <span class="font-weight-bold text-warning"><h5>👉 Inventario</h5></span>
                </a>

            </li>
           <li class="nav-item">
            <a href="#" class="text-warning px-5 text-warning"> <span class="font-weight-ligh">✐ Editar Inventario</span>  </a>

            <li class="nav-item">
              <a href="#" class="nav-link align-middle px-0">
                  <i class="font-weight-bold text-warning "></i> <span class="font-weight-bold text-warning"><h5>👉 Pedidos</h5></span>
              </a>

          </li>
          <li class="nav-item">
            <a href="#" class="text-warning px-5 text-warning"> <span class="font-weight-ligh">✯ Crear Pedido</span>  </a>
         </li>
         <li class="nav-item">
          <a href="#" class="text-warning px-5 text-warning"> <span class="font-weight-ligh">✐ Editar Pedido</span>  </a>

              </ul>
              <hr>
          </div>

      </div>
  </div>
</div>

